@media (max-width: 1030px){
    header{
        padding: 1rem;

        .hero-section{
            bottom : 5rem;
            .hero-img{
                img{
                    width: 90%;
                }
            }
            .header-text{
                padding: 0.5rem;
            }
        }
    }
    #blog{
        .col{
            overflow: hidden;
        }
    }
    footer{
        padding: 1rem;
    }
}



@media (max-width: 770px) {
    #about{
        display: flex;
        flex-direction: column;
        .profile-card{
            top:0;
            left: 0;
            border-color: $primary-color;
            width: 65%;
            margin: 0 auto;
            min-height: fit-content;
            padding-bottom: 1rem;
        }
        .details{
            width: 100%;
            bottom:0;
            margin-left: 0 ;
            padding: 2rem;
            z-index: 5;
            margin-top: 0.5rem;
            margin-left: 0;
    
            .text{
                width: 100%;
                padding: 0.5rem;
                margin-left: 0;
            }
        }
       }

       #books{
        height: 80vh;

        .books-container{
            margin:1rem;
        }
       }

       #blog{
        height: fit-content;
        .blog-container{
            grid-template-columns: 75%;
            grid-template-rows: 500px 500px;
    
    
            .col{
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
    
            }
        }
       }

       #testimonial{
        .container{
            width: 100%;
            padding: 2.5rem;
    
            .review{
                padding: 1rem 0;
            }
        }
       }

       #contact{
        height: calc(100vh + 200px);
        .container{
            width: 80%;
            height: 80%;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
    
            .contact-info{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                height: 250px;
                justify-items: center;
            }
            .contact-form{
                #name,
                #email{
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
       }

       #cta{
        padding: 1rem;
       }

       footer{
        padding: 0.5rem;

        .logos{
            gap: 0.5rem;
        }
       }

}


@media (max-width: 425px) {
    header{
        padding: 2px;
        margin-bottom: 8px;
        height: 100vh;

        .hero-section{
            display: flex;
            flex-direction: column;
            position: relative;
            top: 10px;
            .hero-img{

                img{
                    display:none;
                }
            }
            .header-text{
                padding: 0.5rem;

                h1:nth-child(3){
                    margin-left: 0;
                }

                p:nth-child(4){
                    margin-left: 0;
                }
                p:nth-child(5){
                    margin : 1rem 0;
                    width: 75%;
                }
            }
        }
    }

   #about{
    display: flex;
    flex-direction: column;
    .profile-card{
        top:0;
        left: 0;
        border-color: $primary-color;
        width: 100%;
        min-height: fit-content;
        padding-bottom: 1rem;
    }
    .details{
        width: 100%;
        bottom:0;
        margin-left: 0 ;
        z-index: 5;
        margin-top: 0.5rem;
        margin-left: 0;

        .text{
            width: 100%;
            padding: 0.5rem;
            margin-left: 0;
        }
    }
   }

   #books{
    height: fit-content;
    padding-bottom: 1rem;
    .books-container{
        grid-template-columns: 1fr;
    }
   }
   #counter{
    flex-direction: column;
    height: fit-content;
    background-repeat: no-repeat;

    // overflow-y: scroll;
    // -webkit-scrollbar:hidden;
   }
   #blog{
    height: fit-content;
    .blog-container{
        grid-template-columns: 1fr;
        grid-template-rows: 600px 600px;


        .col{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;

        }
    }
   }
   #testimonial{
    .container{
        width: 100%;
        padding: 10px 0;

        .review{
            padding: 1rem 0;
        }
    }
   }
   #cta{
    padding: 1rem;
    flex-direction: column;
   }
   #contact{
    height: fit-content;
    .container{
        width:100%;
        height:100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        .contact-info{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
        .contact-form{
            #name,
            #email{
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
   }

   footer{
    flex-direction: column;
    padding: 0.5rem;

    .logos{
        gap: 0.5rem;
    }
   }
    
}

@media (max-width : 320px){

    footer{
        height: fit-content;
        .logos{
            flex-wrap: wrap;
            margin: 0.5rem 0;
        }
    }
}